/* CUSTOMIZE CONTAINER FOR PAGE HEADER
-------------------------------------------------- */
.dark-blue {
    background: #0C1E2E none repeat scroll 0% 0%;
    color: #C0C0C0;
    margin-bottom: 35px;
}

.utility-bar a {
    color: #C0C0C0;
}

.loginbar {
    margin-top: 5px;
}

/* CUSTOMIZE THE SAI LOGO AT THE TOP OF THE PAGE
-------------------------------------------------- */
.logo-sai {
    margin-top: 10px;
}

.titulo-site {
    margin-top: 5px;
}

/* CUSTOMIZE THE MAIN MENU OF PAGE
-------------------------------------------------- */

#menu-principal > ul > li > a {
    text-decoration: none;
    position: relative;
    background-color: none;
}

/* Underline effect of main menu */
#menu-principal > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #C0C0C0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* Remove underline when mouse leave the menu */
#menu-principal > ul > li > a:hover,
#menu-principal > ul > li > a:focus {
    background-color: #0C1E2E;
}

/* Display underline when mouse enter on menu item */
#menu-principal > ul > li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* CUSTOMIZE THE LANGUAGE SELECT DROPDOWN MENU
-------------------------------------------------- */

#utilidades {
    height: 40px;
    margin-top: 15px;
}
#dropdown-lang-btn {
    cursor: pointer;
    text-align: right;
    user-select: none;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* CIRCLES BELOW THE CAROUSEL
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}