{% extends "tracking/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="pagina-cabecalho" class="page-header">
        <h1>{% trans "Alunos estrangeiros" %}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form action="" class="form-horizontal" method="post">
        {% csrf_token %}
        <h3></h3>
        <!-- Name-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">{% trans "Nome" %}:</label>
          <div class="col-md-8">
          <input id="name" name="name" type="text" placeholder="Informe seu nome sem abreviações" class="form-control input-md" required="" value="{{ aluno.nome }}">
          </div>
        </div>

        <!-- File Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="profile_image">{% trans "Foto" %}</label>
          <div class="col-md-4">
            <input id="profile_image" name="profile_image" class="input-file" type="file">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="birth_date">{% trans "Data de nascimento" %}</label>
          <div class="col-md-8">
            <input id="birth_date" name="birth_date" type="text" placeholder="Informe sua data de nascimento" class="form-control input-md" required="" value="{{ aluno.data_nascimento|default:"" }}">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="filiacao">{% trans "Nome do pai" %}</label>
          <div class="col-md-8">
            <input id="filiacao" name="filiacao" type="text" placeholder="Informe o nome do seu pai sem abreviações" class="form-control input-md" value="{{ aluno.nome_pai|default:""}}">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="">{% trans "Nome da mãe" %}</label>
          <div class="col-md-8">
            <input id="" name="" type="text" placeholder="Informe o nome da sua mãe sem abreviações" class="form-control input-md" required="" value="{{ aluno.nome_mae|default:""}}">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="local_nascimento">{% trans "Local de nascimento" %}</label>
          <div class="col-md-8">
            <input id="local_nascimento" name="local_nascimento" type="text" placeholder="Informe sua cidade de nascimento no formato Cidade / Estado" class="form-control input-md" required="" value="{{ aluno.local_nascimento|default:"" }}">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="país">{% trans "País" %}</label>
          <div class="col-md-8">
            <select id="país" name="pais" placeholder="Selecione o seu país de origem" class="form-control input-md" required="">
              {% for pais in paises %}
              <option value="{{pais.id}}">{{pais.nome}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="num_passaporte">{% trans "Número do passaporte" %}</label>
          <div class="col-md-8">
            <input id="num_passaporte" name="num_passaporte" type="text" placeholder="" class="form-control input-md" required="" value="{{aluno.}}">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="endereco">Endereço permanente</label>
          <div class="col-md-8">
            <input id="endereco" name="endereco" type="text" placeholder="" class="form-control input-md" required="">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">E-mail</label>
          <div class="col-md-8">
            <input id="email" name="email" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="telefone">Telefone</label>
          <div class="col-md-8">
            <input id="telefone" name="telefone" type="text" placeholder="" class="form-control input-md" required="">
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group">
          <div class="col-md-offset-4 col-md-8">
            <button type="submit" class="btn btn-default">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div><!-- /.container-->
{% endblock content %}

{% block custom-js %}
<script src="{% static "tracking/js/jquery.bootstrap.wizard.min.js" %}"type="text/javascript"></script>
<script src="{% static "tracking/js/wizard-custom.js" %}"type="text/javascript"></script>
{% endblock custom-js %}