{% extends "tracking/base.html" %}
{% load staticfiles %}

{% block custom-css %}
<link href="{% static "tracking/css/simple-sidebar.css" %}" rel="stylesheet">
<style>
    #map-in{
        height: 500px;
    }
</style>
{% endblock custom-css %}

{% block content %}

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="pagina-cabecalho" class="page-header">
                      <h1>Alunos do exterior em intercâmbio na UFSM</h1>
                  </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Container for map -->
                    <div id="map-in"></div>
                </div>
            </div>
        </div><!-- /.container -->
    </div>
</div>

{% endblock content %}
{% block custom-js %}
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
<script src={% static "tracking/js/googlemaps-in.js" %}></script>
<script src={% static "tracking/js/jasny-bootstrap.min.js" %}></script>
<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
{% endblock custom-js %}